
nav {
  margin-bottom: 10px;
}

span#page-title {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Extra Small (E.g. Portrait Phones) */
@media screen and (max-width: 500px) {
  span#page-title {
      padding-left: 75px;
  }
}

.fixed-header-button {
  position: fixed;
  top: 8px;
  z-index: 1000;
}
#reload-button {
  right: 8px;
}
#option-buttons {
  left: 8px;
}
#gallery-button, #create-button {
  margin-left: 4px;
}
#back-button {
  display: none;
  left: 8px;
}

canvas#canvas, canvas#make-canvas {
  max-width: 600px;
  width: 100%;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

canvas div {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div#gallery, div#create {
  display: none;
  max-width: 700px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
div#gallery h1, div#create h1 {
  text-align: center;
}
div#gallery img {
  width: 25%;
  cursor: pointer;
}

canvas#make-canvas {
  border: gray 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: white; */
}
#canvas-template {
  background-image: url('../images/monster_template.png');
  /* padding-left: 20px;
  padding-right: 20px; */
}

#colour-select {
  display: inline-block;
}
label {
  font-weight: bold;
}


