
nav {
    margin-bottom: 10px;
}

span#page-title {
    padding-top: 8px;
    padding-bottom: 8px;
}

img#head, img#torso, img#legs {
    background-image: url("../images/monsters/0.png");
    background-repeat: repeat-y;
    min-width: 600px;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img#head {
    background-position: 0px 0px;
}
img#torso {
    background-position: 0px -200px;
}
img#legs {
    background-position: 0px 200px;
}

#fixed-top-button {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 1000;
}
